@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

#buttonsContainer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  color: white;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}

.startBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}
